# compiled data and cache
__pycache__/
*.py[cod]

# compiled translations
*.mo

# custom logos and thumbnails
static/images/logos/*
static/images/thumbs/*

# private configuration
secrets.py

# WSGI scripts
*.wsgi
