# -*- coding: utf-8 -*-

# application
SECRET_KEY = 'abcdefghijklmnopqrstuvwxyz0123456789-#(!$&%abcdefg'

# database
SQLALCHEMY_DATABASE_URI = 'postgresql://user:password@host/database'

# address search api
ADDRESS_SEARCH_API_KEY = 'AbcDEFGHijklmNOPQrstuVWxyZ012345'

# CitySDK api
CITYSDK_API_KEY = 'AbcDEFGHijklmNOPQrstuVWxyZ012345'
