{% extends 'index.html' %}

{% set active_page = 'catalog' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/catalog.css') }}" />
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="container-fluid">
        <div class="panel-group" id="accordion">
            {% for group in groups %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ group.name }}">
                                {% if group.name == 'api' %}
                                    <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> {{ _('API (Programmierschnittstellen)') }}
                                {% elif group.name == 'application' %}
                                    <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> {{ _('Anwendungen') }}
                                {% elif group.name == 'documentation' %}
                                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span> {{ _('Dokumentationen') }}
                                {% elif group.name == 'download' %}
                                    <span class="glyphicon glyphicon-download" aria-hidden="true"></span> {{ _('Downloads') }}
                                {% elif group.name == 'external' %}
                                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span> {{ _('externe Links') }}
                                {% elif group.name == 'geoservice' %}
                                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> {{ _('Geodatendienste') }}
                                {% elif group.name == 'helper' %}
                                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> {{ _('Tools') }}
                                {% else %}
                                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> {{ group.name }}
                                {% endif %}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-{{ group.name }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            {% if group.name == 'external' %}
                                {% for external_link in external_links %}
                                    <span class="glyphicon glyphicon-{% if external_link.reachable == True %}ok-sign green{% else %}remove-sign red{% endif %}" aria-hidden="true" title="{{ _('letzte Prüfung auf Erreichbarkeit') }}: {{ external_link.reachable_last_check|datetime_l10n('light') }}"></span> <a href="{{ external_link.link }}" target="_blank">{{ external_link.title }}</a>
                                    {{ external_link.tags[0].title }}
                                    <br/>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="{{url_for('static', filename='js/catalog.js')}}"></script>
{% endblock %}
