{% extends 'index.html' %}

{% set active_page = 'imprint' %}

{% block styles %}
  {{ super() }}
{% endblock %}

{% block main_styles %}
  {{ super() }}
{% endblock %}

{% block local_styles %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/static-page.css') }}" />
{% endblock %}

{% block favicon %}
  {{ super() }}
{% endblock %}

{% block local_scripts %}
{% endblock %}

{% block content %}
  {% include 'navbar.html' %}
  <div class="container-fluid">
    <h3 class="headline">{{ subtitle }}</h3>
    <h4 class="subheadline">{{ _('Herausgeberin') }}</h4>
    <p>
      <span class="full-width">{{ _('Hanse- und Universitätsstadt Rostock') }}</span>
      <span class="full-width">{{ _('Die Oberbürgermeisterin') }}</span>
      <span class="full-width">18050 Rostock</span>
      <a href="mailto:ob@rostock.de">ob@rostock.de</a>
    </p>
    <h4 class="subheadline">{{ _('Umsatzsteuer-Identifikationsnummer gemäß § 27a UStG') }}</h4>
    <p>DE 137385469</p>
    <h4 class="subheadline">{{ _('Verantwortlich für den Inhalt') }}</h4>
    <p>
      <span class="full-width">{{ _('Hanse- und Universitätsstadt Rostock') }}</span>
      <span class="full-width">{{ _('Die Oberbürgermeisterin') }}</span>
      <span class="full-width">{{ _('Büro der Oberbürgermeisterin') }}</span>
      <span class="full-width">{{ _('Fachbereich Presse- und Informationsstelle') }}</span>
      <span class="full-width">18050 Rostock</span>
      <a href="mailto:presse@rostock.de">presse@rostock.de</a>
    </p>
    <h4 class="subheadline">{{ _('Konzept, Betreuung und technische Umsetzung') }}</h4>
    <p>
      <span class="full-width">{{ _('Hanse- und Universitätsstadt Rostock') }}</span>
      <span class="full-width">{{ _('Kataster-, Vermessungs- und Liegenschaftsamt') }}</span>
      <span class="full-width">An der Jägerbäk 3</span>
      <span class="full-width">18069 Rostock</span>
      <a href="mailto:geodienste@rostock.de">geodienste@rostock.de</a>
    </p>
    <h4 class="subheadline">{{ _('Haftung für Inhalte') }}</h4>
    <p>{{ _('Diese Website enthält Links zu externen Websites Dritter. Auf deren Inhalte hat die Hanse- und Universitätsstadt Rostock keinen Einfluss. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter verantwortlich. Bei Bekanntwerden von Rechtsverletzungen werden derartige Links umgehend entfernt.') }}</p>
    <h4 class="subheadline">{{ _('Nutzung der Kontaktdaten') }}</h4>
    <p>{{ _('Die Nutzung der im Impressum veröffentlichten Kontaktdaten zur Übersendung nicht ausdrücklich angeforderter Werbung wird widersprochen.') }}</p>
    <h4 class="subheadline">{{ _('Kontakt') }}</h4>
    <p>
      <span class="full-width">{{ _('Für Hinweise, Anregungen und Fragen wenden Sie sich bitte an:') }}</span>
      <a href="mailto:{{ config.CONTACT }}">{{ config.CONTACT }}</a>
    </p>
  </div>
  {% if not mobile %}
    {% include 'footer.html' %}
  {% endif %}
{% endblock %}
