{% extends 'bootstrap/base.html' %}

{% block html_attribs %} lang="{{ g.current_lang }}"{% endblock %}

{% block metas %}
  {{ super() }}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="author" content="{{ config.META_AUTHOR }}" />
  <meta name="description" content="{{ config.META_DESCRIPTION }}" />
  <meta name="keywords" content="{{ config.META_KEYWORDS }}" />
{% endblock %}

{% block title %}
  {{ config.TITLE }}{% block subtitle %}{% if subtitle %} – {{ subtitle }}{% endif %}{% endblock -%}
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block scripts %}
  {{super()}}
  <script type="application/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}

{% block content %}
  {% include 'navbar.html' %}
  <div class="container-fluid">
    <div class="row-fluid image-block">
      <a href="{{ url_for('index', lang_code = g.current_lang) }}">
        <img src="{{ url_for('static', filename='images/child.svg') }}" />
      </a>
      <a href="{{ config.PARENT }}" target="_blank">
        <img src="{{ url_for('static', filename='images/parent.svg') }}" />
      </a>
    </div>
    <div class="row-fluid text-center center-block">
      <h1>{{ config.TITLE }}</h1>
      <p>{{ _('Einstiegsmöglichkeit in die Geodateninfrastruktur der Hanse- und Universitätsstadt Rostock und Schnittstelle aller Anwendungen mit Raumbezug des Kataster-, Vermessungs- und Liegenschaftsamtes der Hanse- und Universitätsstadt Rostock') }}</p>
    </div>
    <div class="row-fluid text-center">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      <input class="form-control" id="search-input" placeholder="{{ _('Suche in Lebenslagen, Anwendungen, Geodatendiensten') }}…" type="search" />
      <span id="clear-search-input" class="glyphicon glyphicon-remove-circle"></span>
      <div id="results"></div>
      <div id="results-pagination"></div>
    </div>
    <div class="row-fluid text-center center-block">
      <div class="col-md-6">
        <a href="{{ url_for('situations', lang_code = g.current_lang) }}">
          <span class="glyphicon mega-glyphicon glyphicon-map-marker" aria-hidden="true"></span>
          <p class="text-justify">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </a>
      </div>
      <div class="col-md-6">
        <a href="{{ url_for('catalog', lang_code = g.current_lang) }}">
          <span class="glyphicon mega-glyphicon glyphicon-list" aria-hidden="true"></span>
          <p class="text-justify"><span class="bold">{{ _('Katalog') }}</span> – {{ _('Stöbern Sie in der Geodateninfrastruktur der Hanse- und Universitätsstadt Rostock anhand übersichtlich geordneter, filterbarer Listen.') }}</p>
        </a>
      </div>
    </div>
  </div>
  {% include 'footer.html' %}
{% endblock %}
