{% extends 'bootstrap/base.html' %}

{% set active_page = active_page|default('index') %}

{% block html_attribs %} lang="{{ g.current_lang }}"{% endblock %}

{% block metas %}
  {{ super() }}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="author" content="{{ config.META_AUTHOR }}" />
  <meta name="description" content="{{ config.META_DESCRIPTION }}" />
  <meta name="keywords" content="{{ config.META_KEYWORDS }}" />
{% endblock %}

{% block title %}
  {{ config.TITLE }}{% block subtitle %}{% if subtitle %} – {{ subtitle }}{% endif %}{% endblock -%}
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block scripts %}
  {{super()}}
  <script type="application/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}

{% block content %}
  {% include 'navbar.html' %}
  <div class="container-fluid" id="defining-container" data-mobile="{{ mobile|lower }}">
    <div class="row-fluid text-center header-center-block{% if mobile %} mobile{% endif %}">
      {% if not mobile %}
        <img class="image image-left" src="{{ url_for('static', filename='images/child.svg') }}" />
        <img class="image image-right" src="{{ url_for('static', filename='images/parent.svg') }}" />
      {% endif %}
      <h1 class="title">{{ config.TITLE }}</h1>
    </div>
    <div class="row-fluid text-center center-block{% if mobile %} mobile{% endif %}">
      <p>{{ _('Einstiegsmöglichkeit in die Geodateninfrastruktur der Hanse- und Universitätsstadt Rostock und Schnittstelle aller Anwendungen mit Raumbezug des Kataster-, Vermessungs- und Liegenschaftsamtes der Hanse- und Universitätsstadt Rostock') }}</p>
    </div>
    <div class="row-fluid text-center search-center-block{% if mobile %} mobile{% endif %}">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      <input class="form-control{% if mobile %} mobile{% endif %}" id="search-input" placeholder="{{ _('Suche in Themen und Katalog') }}…" type="search" />
      <span id="clear-search-input" class="glyphicon glyphicon-remove-circle"></span>
      <div id="results"></div>
      <div id="results-pagination"></div>
    </div>
    <div class="row-fluid text-center center-block{% if mobile %} mobile{% endif %}">
      {% if not mobile %}<div class="col-md-6">{% endif %}
        <a href="{{ url_for('themes', lang_code = g.current_lang) }}">
          <span class="glyphicon mega-glyphicon glyphicon-map-marker" aria-hidden="true"></span>
          <p class="mega-glyphicon-text{% if not mobile %} text-justify{% else %} mobile{% endif %}"><span class="bold">{{ _('Themen') }}</span> – {{ _('Finden Sie zu einem Thema, das Sie interessiert, in Ihrer Nähe alle Angebote aus der Geodateninfrastruktur der Hanse- und Universitätsstadt Rostock.') }}</p>
        </a>
      {% if not mobile %}</div>{% endif %}
      {% if not mobile %}<div class="col-md-6">{% endif %}
        <a href="{{ url_for('catalog', lang_code = g.current_lang) }}">
          <span class="glyphicon mega-glyphicon glyphicon-list" aria-hidden="true"></span>
          <p class="mega-glyphicon-text{% if not mobile %} text-justify{% else %} mobile{% endif %}"><span class="bold">{{ _('Katalog') }}</span> – {{ _('Stöbern Sie in der Geodateninfrastruktur der Hanse- und Universitätsstadt Rostock anhand übersichtlich geordneter, filterbarer Listen.') }}</p>
        </a>
      {% if not mobile %}</div>{% endif %}
    </div>
  </div>
  {% if not mobile %}
    {% include 'footer.html' %}
  {% endif %}
{% endblock %}
