{% extends 'bootstrap/base.html' %}

{% block html_attribs %} lang="{{ g.current_lang }}"{% endblock %}

{% block metas %}
  {{ super() }}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="author" content="{{ config.META_AUTHOR }}" />
  <meta name="description" content="{{ config.META_DESCRIPTION }}" />
  <meta name="keywords" content="{{ config.META_KEYWORDS }}" />
{% endblock %}

{% block title %}
  {{ config.TITLE }}{% block subtitle %}{% if subtitle %} – {{ subtitle }}{% endif %}{% endblock -%}
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block content %}
  {% include 'navbar.html' %}
  <div class="container-fluid">
    <div class="row-fluid image-block">
      <img src="{{ url_for('static', filename='images/child.svg') }}" />
      <img src="{{ url_for('static', filename='images/parent.svg') }}" />
    </div>
    <div class="row-fluid">
      <div class="text-center">
        <h1>{{ config.TITLE }}</h1>
        <p>{{ _('Einstiegsmöglichkeit in die Geodateninfrastruktur der Hanse- und Universitätsstadt Rostock und Schnittstelle aller Anwendungen mit Raumbezug des Kataster-, Vermessungs- und Liegenschaftsamtes der Hanse- und Universitätsstadt Rostock') }}</p>
      </div>
    </div>
  </div>
  {% include 'footer.html' %}
{% endblock %}
