{% extends 'index.html' %}

{% set active_page = 'themes' %}

{% block styles %}
  {{ super() }}
{% endblock %}

{% block external_styles %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/externals/slick/slick.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/externals/slick/slick-theme.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/externals/leaflet/leaflet.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/externals/fontawesome/fontawesome-all.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/externals/leaflet-locatecontrol/L.Control.Locate.min.css') }}" />
{% endblock %}

{% block main_styles %}
  {{ super() }}
{% endblock %}

{% block local_styles %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/themes.css') }}" />
{% endblock %}

{% block favicon %}
  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}

{% block external_scripts %}
  <script type="application/javascript" src="{{ url_for('static', filename='js/externals/slick/slick.min.js') }}"></script>
  <script type="application/javascript" src="{{ url_for('static', filename='js/externals/leaflet/leaflet.js') }}"></script>
  <script type="application/javascript" src="{{ url_for('static', filename='js/externals/proj4js/proj4.js') }}"></script>
  <script type="application/javascript" src="{{ url_for('static', filename='js/externals/leaflet-locatecontrol/L.Control.Locate.min.js') }}"></script>
{% endblock %}

{% block local_scripts %}
  <script>CITYSDK_API_KEY = '{{ citysdk_api_key }}'</script>
  <script>CITYSDK_API_TARGET_NAME = '{{ citysdk_api_target_name }}'</script>
  <script>CITYSDK_API_TARGET_LINK = '{{ citysdk_api_target_link }}'</script>
  <script>MOBILE = {{ mobile|lower }}</script>
  <script>TRANSLATIONS = {{ translations|tojson }}</script>
  <script>URL_BASE = '{{ url_base }}'</script>
  <script>URL_LOGOS = '{{ url_logos }}'</script>
  <script type="application/javascript" src="{{ url_for('static', filename='js/themes.js') }}"></script>
{% endblock %}

{% block content %}
  {% include 'navbar.html' %}
  <div class="container-fluid">
    <div class="row-fluid" id="theme-container">
      <{% if mobile %}h4{% else %}h3{% endif %} class="headline">{{ _('Welches Thema interessiert Sie?') }}</{% if mobile %}h4{% else %}h3{% endif %}>
      <div class="slider" id="theme-slider">
        {% for theme in themes %}
          <div>
            <div class="theme" id="theme-{{ theme.id }}" data-theme-id="{{ theme.id }}" data-theme-title="{{ theme.title }}">
              <span class="theme-title">
                <span class="theme-text">{{ theme.title }}</span>
                {% if theme.icon != None %}
                  <i class="fas fa-{{ theme.icon }} theme-icon"></i>
                {% endif %}
              </span>
              <span class="theme-title-flipped hidden {% if theme.descriptive_tags != None %}full{% else %}light{% endif %}">
                {% if theme.descriptive_tags != None %}
                  {% for descriptive_tag in theme.descriptive_tags %}
                    <span class="theme-text">{{ descriptive_tag }}</span>
                    {% if loop.last %}
                      <span class="theme-text">…</span>
                    {% endif %}
                  {% endfor %}
                {% else %}
                  <span class="theme-text">{{ theme.title }}</span>
                  {% if theme.icon != None %}
                    <i class="fas fa-{{ theme.icon }} theme-icon"></i>
                  {% endif %}
                {% endif %}
              </span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="row-fluid" id="offer-container">
      <{% if mobile %}h4{% else %}h3{% endif %} class="headline{% if mobile %} mobile{% endif %}" id="offers-headline">{{ _('Angebote zum gewählten Thema') }}:</{% if mobile %}h4{% else %}h3{% endif %}>
      <div class="slider" id="offer-slider"></div>
    </div>
    <div class="row-fluid{% if mobile %} mobile{% endif %}" id="map-container">
      <h4 class="headline map-headline" id="map-headline-top">{{ _('Karte zeigt Objekte aus Top-Angeboten zum gewählten Thema') }}:</h4>
      <h4 class="headline map-headline hidden" id="map-headline-offer">{{ _('Karte zeigt Objekte aus gewähltem Angebot') }}:</h4>
      <h4 class="headline map-headline hidden" id="map-headline-empty">{{ _('Keine Objekte aus gewähltem Angebot auf Karte, da Angebot nicht für Kartenanzeige geeignet') }}</h4>
      <span class="glyphicon glyphicon-search" id="icon-address-input" aria-hidden="true"></span>
      <input class="form-control{% if mobile %} mobile{% endif %}" id="address-input" placeholder="{{ _('Adressensuche') }}…" type="search" />
      <span id="clear-address-input" class="glyphicon glyphicon-remove-circle"></span>
      <div id="results"></div>
      <div id="map"{% if mobile %} class="mobile"{% endif %}></div>
      <div id="geoportal-link">
        <span class="glyphicon glyphicon-link" aria-hidden="true"></span> {{ _('Kartensituation in Geoport.HRO öffnen, dem Portal für Geodaten der Hanse- und Universitätsstadt Rostock und Umgebung') }}
      </div>
    </div>
    <div id="attributes-modal" class="modal fade" role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ _('Objekt aus Angebot') }} <span class="attributes-modal-text-offer-title"></span> {{ _('zum Thema') }} <span class="attributes-modal-text-offer-theme"></span></h4>
            <h5><span class="attributes-modal-text-offer-type"></span> {{ _('mit aktivem Feature-Typ') }} <span class="attributes-modal-text-offer-featuretype"></span></h5>
          </div>
          <div class="modal-body">
            <table>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('schließen') }}</button>
          </div>
        </div>
      </div>
    </div>
    <div id="location-error-modal" class="modal fade" role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ _('Standortbestimmung fehlgeschlagen') }}</h4>
          </div>
          <div class="modal-body">
            <p>{{ _('Karte zentriert auf Standardposition') }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('schließen') }}</button>
          </div>
        </div>
      </div>
    </div>
    <div id="map-top-403-error-modal" class="modal fade" role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ _('Kartenfehler zu Top-Angeboten aus') }} <span class="text-theme-title"></span></h4>
          </div>
          <div class="modal-body">
            <p>{{ _('Sie dürfen auf mindestens eines der Top-Angebote des Themas') }} <span class="text-theme-title"></span>{{ _(' leider nicht zugreifen. Daher werden keine Objekte dieses/dieser Angebots/Angebote auf der Karte angezeigt.') }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('schließen') }}</button>
          </div>
        </div>
      </div>
    </div>
    <div id="map-top-general-error-modal" class="modal fade" role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ _('Kartenfehler zu Top-Angeboten aus') }} <span class="text-theme-title"></span></h4>
          </div>
          <div class="modal-body">
            <p>{{ _('Es können keine Objekte mindestens eines der Top-Angebote des Themas') }} <span class="text-theme-title"></span> {{ _('auf der Karte angezeigt werden.') }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('schließen') }}</button>
          </div>
        </div>
      </div>
    </div>
    <div id="map-offer-403-error-modal" class="modal fade" role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ _('Kartenfehler zu') }} <span class="text-offer-title"></span></h4>
          </div>
          <div class="modal-body">
            <p>{{ _('Sie dürfen auf dieses Angebot des Themas') }} <span class="text-theme-title"></span>{{ _(' leider nicht zugreifen. Daher werden keine Objekte dieses Angebots auf der Karte angezeigt.') }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('schließen') }}</button>
          </div>
        </div>
      </div>
    </div>
    <div id="map-offer-general-error-modal" class="modal fade" role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ _('Kartenfehler zu') }} <span class="text-offer-title"></span></h4>
          </div>
          <div class="modal-body">
            <p>{{ _('Es können keine Objekte dieses Angebots des Themas') }} <span class="text-theme-title"></span> {{ _('auf der Karte angezeigt werden.') }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('schließen') }}</button>
          </div>
        </div>
      </div>
    </div>
    <div id="search-error-modal" class="modal fade" role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ _('Fehler bei Adressensuche') }}</h4>
          </div>
          <div class="modal-body">
            <p>{{ _('Adressensuche zur Zeit nicht nutzbar') }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('schließen') }}</button>
          </div>
        </div>
      </div>
    </div>
    <div id="loading-modal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{ _('Bitte warten, Karte wird aktualisiert') }}…</h4>
          </div>
          <div class="modal-body">
            <div class="progress progress-striped active modal-progress">
              <div class="progress-bar modal-progress-bar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if not mobile %}
    {% include 'footer.html' %}
  {% endif %}
{% endblock %}
