a > small,
.full-width > em {
  display: block;
  margin-top: 3px;
}

.application-logo {
  height: 20px;
}

.checkboxes {
  margin-bottom: 10px;
}

.checkbox-inline {
  padding-bottom: 3px;
}

.filter-input {
  width: 300px;
  margin-bottom: 20px;
  display: inline;
}

.green {
  color: #00b748;
}

.list-group {
  margin-bottom: 0;
}

.panel-body > h5,
.geoservice-child > h5 {
  margin-top: 25px;
}

.panel-body > h5.first,
.geoservice-child > h5.first{
  margin-top: 0;
}

.panel-info .panel-heading a:hover {
  color: #fff;
}

.red {
  color: #d81920;
}

#application-accordion h4 > a,
#geoservice-accordion h4 > a {
  font-weight: normal;
}
