.center-block {
  width: 50%;
  margin-left: 25%;
  margin-top: 40px;
}

.center-block > p {
  font-size: 16px;
}

.col-md-6 p {
  padding: 15px 25px 0 25px;
  font-size: 15px;
}

.green {
  color: #00b748;
}

.image-block {
  width: 311px;
  height: 120px;
  margin: 0 auto;
}

.image-block img {
  float: left;
  height: 120px;
}

.image-block img.first-img {
  margin-right: 10px
}

.image-block img.last-img {
  margin-left: 10px
}

.mega-glyphicon {
  font-size: 90px;
}

.red {
  color: #d81920;
}

#results {
  margin-top: 5px;
}

#results > div {
  margin-top: 3px;
}

#results-pagination-ul {
  margin: 15px 0;
}

#results-pagination-ul > li > span {
  cursor: pointer;
}

#clear-search-input {
  right: 25px;
  cursor: pointer;
}

#search-input {
  display: inline;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}
