.center-block {
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
}

.center-block > p {
  font-size: 16px;
}

.col-md-6 p {
  padding: 15px 25px 0 25px;
  font-size: 15px;
}

.green {
  color: #00b748;
}

.header-center-block {
  width: 30%;
  margin-left: 35%;
}

.image {
  height: 60px;
}

.image-left {
  float: left;
}

.image-right {
  float: right;
}

.mega-glyphicon {
  font-size: 90px;
}

.red {
  color: #d81920;
}

.search-center-block {
  margin-top: 20px;
}

.title {
  height: 60px;
  padding-top: 8px;
}

#results {
  margin-top: 5px;
}

#results > div {
  margin-top: 3px;
}

#results-pagination-ul {
  margin: 15px 0;
}

#results-pagination-ul > li > span {
  cursor: pointer;
}

#clear-search-input {
  right: 25px;
  cursor: pointer;
}

#search-input {
  display: inline;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}
