@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  local: 'PT Sans';
  src: url(fonts/PTS55F_W.ttf);
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: normal;
  local: 'PT Sans Italic';
  src: url(fonts/PTS56F_W.ttf);
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: bold;
  local: 'PT Sans Bold';
  src: url(fonts/PTS75F_W.ttf);
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold;
  local: 'PT Sans Bold Italic';
  src: url(fonts/PTS76F_W.ttf);
}

body {
  font-family: 'PT Sans', sans-serif;
  padding-top: 70px;
}
