@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  local: 'PT Sans';
  src: url(fonts/PTS55F_W.ttf);
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: normal;
  local: 'PT Sans Italic';
  src: url(fonts/PTS56F_W.ttf);
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: bold;
  local: 'PT Sans Bold';
  src: url(fonts/PTS75F_W.ttf);
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold;
  local: 'PT Sans Bold Italic';
  src: url(fonts/PTS76F_W.ttf);
}

html {
  position: relative !important;
  min-height: 100% !important;
}

body {
  font-family: 'PT Sans', sans-serif !important;
  padding-top: 70px !important;
}

body:not(.mobile) {
  margin-bottom: 60px !important;
}

a,
a:focus,
a:hover,
a:visited {
  outline: none !important;
  text-decoration: none !important;
}

a:hover {
  color: #777 !important;
}

a[disabled="disabled"] {
  pointer-events: none !important;
  cursor: default !important;
}

div {
  outline: none !important;
}

h1 {
  font-size: 38px !important;
}

h1,
h2,
h3,
h4,
h5,
.bold {
  font-weight: bold !important;
}

td,
th {
  padding-right: 10px;
}

th {
  font-weight: bold;
}

nav a,
nav a:focus,
nav a:visited ,
nav a[disabled="disabled"]:hover {
  color: #fff !important;
}

nav a:hover {
  color: #d9d9d9 !important;
}

nav li > a,
nav li > a:focus,
nav li > a:visited {
  background-color: #006cb7 !important;
  color: #fff !important;
}

nav li > a:hover {
  background-color: #006cb7 !important;
  color: #d9d9d9 !important;
}

nav li.active > a,
nav li.active > a:hover {
  background-color: #008ced !important;
  color: #fff !important;
}

.navbar-brand {
  padding: 10px 0 0 15px !important;
}

.navbar-brand > img {
  height: 30px !important;
  margin-bottom: 3px !important;
  display: inline-block !important;
}

.navbar-collapse {
  text-align: center !important;
}

.navbar-default {
  background-color: #006cb7 !important;
  color: #fff !important;
  border: 0 !important;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:visited {
  background-color: #006cb7 !important;
  border-color: #fff !important;
}

.navbar-default .navbar-toggle:hover {
  background-color: #006cb7 !important;
  border-color: #d9d9d9 !important;
}

.navbar-default .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle .icon-bar:focus,
.navbar-default .navbar-toggle .icon-bar:visited {
  background-color: #fff !important;
}

.navbar-default .navbar-toggle .icon-bar:hover {
  background-color: #d9d9d9 !important;
}

.navbar-languages {
  float: left !important;
  padding: 13px 0 0 30px !important;
}

.navbar-languages > span {
  margin-right: 6px !important;
}

footer {
  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  height: 60px !important;
  line-height: 36px !important;
  padding: 10px 0 !important;
  background-color: #006cb7 !important;
  color: #fff !important;
  z-index: 1040 !important;
}

footer a,
footer a:focus,
footer a:visited {
  color: #fff !important;
}

footer a:hover {
  color: #d9d9d9 !important;
}

.glyphicon-margin-left {
  margin-left: 10px;
}

.glyphicon-margin-right {
  margin-right: 3px;
}

.green {
  color: #00b748;
}

.red {
  color: #d81920;
}

.tooltip > .tooltip-inner {
  padding: 10px !important;
  background-color: #006cb7 !important;
  text-align: left !important;
  max-width: 1000px;
}

.tooltip.right > .tooltip-arrow {
  border-right-color: #006cb7 !important;
}

.modal-progress {
  margin-bottom: 0 !important;
}

.modal-progress-bar {
  width: 100% !important;
}

#loading-modal {
  padding-top: 15% !important;
  overflow-y: visible !important;
}
