@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  local: 'PT Sans';
  src: url(fonts/PTS55F_W.ttf);
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: normal;
  local: 'PT Sans Italic';
  src: url(fonts/PTS56F_W.ttf);
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: bold;
  local: 'PT Sans Bold';
  src: url(fonts/PTS75F_W.ttf);
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold;
  local: 'PT Sans Bold Italic';
  src: url(fonts/PTS76F_W.ttf);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 60px;
  padding-top: 70px;
}

a,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
}

a,
a:focus,
a:visited,
:not(a[data-toggle="collapse"]),
:not(a[data-toggle="collapse"]:focus),
:not(a[data-toggle="collapse"]:visited) {
  color: #006cb7;
}

a:hover {
  color: #777;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

span.full-width {
  display: block;
  width: 100%;
}

nav a,
nav a:focus,
nav a:visited {
  color: #fff !important;
}

nav a:hover {
  color: #d9d9d9 !important;
}

nav li > a,
nav li > a:focus,
nav li > a:visited {
  background-color: #006cb7 !important;
  color: #fff !important;
}

nav li > a:hover {
  background-color: #006cb7 !important;
  color: #d9d9d9 !important;
}

nav li.active > a,
nav li.active > a:hover {
  background-color: #008ced !important;
  color: #fff !important;
}

.navbar-brand {
  padding: 10px 0 0 15px;
}

.navbar-brand > img {
  height: 30px;
  margin-bottom: 3px;
  display: inline-block;
}

.navbar-default {
  background-color: #006cb7;
  color: #fff;
  border: 0;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:visited {
  background-color: #006cb7;
  border-color: #fff;
}

.navbar-default .navbar-toggle:hover {
  background-color: #006cb7;
  border-color: #d9d9d9;
}

.navbar-default .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle .icon-bar:focus,
.navbar-default .navbar-toggle .icon-bar:visited {
  background-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar:hover {
  background-color: #d9d9d9;
}

footer {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  padding: 10px 0;
  background-color: #006cb7;
  color: #fff;
}

footer a,
footer a:focus,
footer a:visited {
  color: #fff;
}

footer a:hover {
  color: #d9d9d9;
}

.tooltip > .tooltip-inner {
  padding: 10px;
  background-color: #006cb7;
}

.tooltip.right > .tooltip-arrow {
  border-right-color: #006cb7;
  }
