.headline{
  margin-bottom: 30px;
  text-align: center;
}

.leaflet-container {
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 12px;
}

.offer,
.theme {
  margin: auto;
  color: #fff;
  background-color: #006cb7;
  cursor: pointer;
  text-align: center;
}

.offer {
  height: 270px;
  width: 270px;
}

.offer.active {
  background-color: #fff;
  border: 4px solid #008ced;
  color: #008ced;
  cursor: default;
}

.offer-icon,
.offer-text,
.theme-icon,
.theme-text {
  display: block;
}

.offer-icon,
.offer-text {
  width: 250px;
  margin-left: 10px;
}

.offer-icon,
.theme-icon {
  font-size: 100px;
  margin-top: 25px;
}

.offer-link {
  width: 250px;
  margin-top: 5px;
  margin-left: 5px;
}

.offer-link.first {
  margin-top: 25px;
}

.offer-title,
.offer-title-flipped,
.theme-title,
.theme-title-flipped {
  position: relative;
  font-weight: bold;
}

.offer-title,
.theme-title,
.theme-title-flipped.light {
  top: 40px;
}

.offer-title-flipped,
.theme-title-flipped.full {
  top: 60px;
}

.results-entry {
  margin-bottom: 3px;
  cursor: pointer;
  color: #337ab7;
}

.results-entry:hover{
  color: #777;
}

.slick-prev,
.slick-next {
  height: 24px;
  width: 24px;
  line-height: 24px;
}

.slick-prev:before,
.slick-next:before {
  color: #006cb7;
  opacity: 1;
  font-size: 20px;
  line-height: 24px;
}

.slick-prev:before,
.slick-next:before,
.slick-prev:focus::before,
.slick-next:focus::before,
.slick-prev:visited::before,
.slick-next:visited::before {
  color: #006cb7;
  opacity: 1;
}

.slick-prev:hover::before,
.slick-next:hover::before {
  color: #777;
  opacity: 1;
}

.slider {
  width: 90%;
  margin-left: 5%;
}

.theme {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.theme.active {
  background-color: #008ced;
  cursor: default;
}

.theme-icon,
.theme-text {
  width: 150px;
  margin-left: 50px;
}

#address-input {
  display: inline;
  margin-bottom: 10px;
  width: 250px;
}

#address-input:not(.mobile) {
  width: 250px;
  margin-top: 20px;
}

#address-input.mobile {
  width: 200px;
}

#clear-address-input {
  right: 25px;
  cursor: pointer;
}

#geoportal-link {
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  color: #337ab7;
}

#geoportal-link:hover{
  color: #777;
}

#icon-address-input {
  margin-left: 27px;
}

#map-container {
  margin: 60px 0 20px 0;
}

#map {
  width: 100%;
  margin-top: 5px;
}

#map:not(.mobile) {
  height: 600px;
}

#map.mobile {
  height: 400px;
}

#map-headline,
#offers-headline  {
  margin-top: 25px;
  color: #fff;
}

#map-headline-theme-title,
#offers-headline-theme-title {
  font-style: italic;
}

#offer-container {
  margin-bottom: 30px;
}

#results {
  margin: -8px 0 0 57px;
}
