.headline{
  margin-bottom: 30px;
  text-align: center;
}

.leaflet-container {
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 12px;
}

.results-entry {
  margin-bottom: 3px;
  cursor: pointer;
  color: #337ab7;
}

.results-entry:hover{
  color: #777;
}

.slick-prev:before,
.slick-next:before {
  color: #006cb7;
  opacity: 1;
}

.slick-prev:before,
.slick-next:before,
.slick-prev:focus::before,
.slick-next:focus::before,
.slick-prev:visited::before,
.slick-next:visited::before {
  color: #006cb7;
  opacity: 1;
}

.slick-prev:hover::before,
.slick-next:hover::before {
  color: #777;
  opacity: 1;
}

.slider {
  width: 90%;
  margin-left: 5%;
}

.theme {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: auto;
  color: #fff;
  background-color: #006cb7;
  cursor: pointer;
  text-align: center;
}

.theme.active {
  background-color: #008ced;
  cursor: default;
}

.theme:hover {
  color: #d9d9d9;
}

.theme.active:hover {
  color: #fff;
}

.theme-title {
  position: relative;
  top: 15px;
  font-weight: bold;
}

.theme-thumb {
  height: 185px;
  max-height: 185px;
  max-width: 185px;
  margin: auto;
  margin-top: 15px;
}

#address-input {
  display: inline;
  margin-bottom: 10px;
  width: 250px;
}

#clear-address-input {
  right: 25px;
  cursor: pointer;
}

#geoportal-link {
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  color: #337ab7;
}

#geoportal-link:hover{
  color: #777;
}

#icon-address-input {
  margin-left: 27px;
}

#map-container {
  margin: 60px 0 20px 0;
}

#map {
  height: 600px;
  width: 100%;
  margin-top: 5px;
}

#results {
  margin: -8px 0 0 57px;
}
